.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.cards-main-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    gap: 2rem;
}

.last-cards-minted {
    margin: 4rem;
    padding-bottom: 4rem;
    @media (max-width: 767.98px) {
        margin: 1rem;
        padding-bottom: 2rem;
    }
}
.card {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}
