<div class="cards-main-container">
  <ng-container *ngFor="let card of wallet.allNfts">
    <ng-container *ngIf="card.weight">
      <poke-card
        [pokemon]="card"
        mode="display"
        (click)="goToCardDetail(card)"
        class="card"
      ></poke-card>
    </ng-container>
  </ng-container>
</div>
<div class="refresh-button-container">
  <button
    mat-fab
    color="accent"
    aria-label="Refresh Cards button"
    (click)="refreshAllNfts()"
  >
    <mat-icon> refresh</mat-icon>
  </button>
</div>
