.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.cards-main-container {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    gap: 5rem;
    padding-inline: 5rem;
}

.card {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}
.refresh-button-container {
    position: sticky;
    bottom: 2rem;
    right: 1rem;
    float: right;
    @media (min-width: 768px) {
        bottom: 3rem;
        right: 3rem;
    }
}
