<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="only-mobile" mat-icon-button (click)="menuIconClicked()">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      src="../../../assets/image/pokecardNft.png"
      alt="logo"
      class="logo"
      [routerLink]="['']"
    />

    <div class="only-desktop">
      <a
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        mat-button
        >Home</a
      >
      <a
        routerLink="/all-cards"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        mat-button
        >All Cards</a
      >

      <a
        routerLink="/create-nft"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        mat-button
        >Create Card NFT</a
      >
      <a
        routerLink="/my-profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        mat-button
        >My profile</a
      >
    </div>
    <span class="spacer"></span>

    <button
      mat-raised-button
      [ngStyle]="this.wallet.web3Instance && { 'background-color': 'green' }"
      (click)="connectWallet()"
      class="walletButton"
    >
      <mat-icon
        *ngIf="this.wallet.web3Instance"
        class="wallet"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >account_balance_wallet
      </mat-icon>
      {{
        this.wallet.walletAddress
          ? (this.wallet.walletAddress | slice : 0 : 3) +
            "..." +
            (this.wallet.walletAddress | slice : -4)
          : "Connect wallet"
      }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
