<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      src="../../../assets/image/NFT-card-logo.png"
      alt="logo"
      class="logo"
    />

    <div class="only-desktop">
      <a href="#" mat-button>Home</a>

      <a href="#" mat-button>Create NFT</a>
    </div>
    <span class="spacer"></span>

    <button
      mat-raised-button
      [ngStyle]="this.wallet.web3 && { 'background-color': 'green' }"
      (click)="connectWallet()"
    >
      <mat-icon
        *ngIf="this.wallet.web3"
        class="wallet"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >account_balance_wallet
      </mat-icon>
      {{
        this.wallet.walletAddress
          ? (this.wallet.walletAddress | slice: 0:3) +
            "..." +
            (this.wallet.walletAddress | slice: -4)
          : "Connect wallet"
      }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
