<mat-card id="container">
  <form id="card-form">
    <h2>Main info</h2>

    <div class="input-group">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="customCard.name"
          name="name"
          matInput
          placeholder="Ex. Charmander"
        />
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>HP</mat-label>
        <input
          [(ngModel)]="customCard.hp"
          name="hp"
          matInput
          placeholder="50"
        />
        <mat-icon matSuffix>health_and_safety</mat-icon>
      </mat-form-field>

      <div class="load-image-container">
        <input
          type="file"
          class="file-input"
          (change)="onFileSelected($event)"
          #fileUpload
        />
        <mat-card class="image-card" (click)="fileUpload.click()">
          <div class="file-upload">
            {{ imageLabel }}

            <button mat-mini-fab color="accent" class="upload-btn">
              <mat-icon
                >{{ customCard.image ? "image" : "add_photo_alternate" }}
              </mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Length</mat-label>
        <input
          [(ngModel)]="customCard.length"
          name="length"
          matInput
          placeholder="EX. 2.65"
        />
        <mat-icon matSuffix>straighten</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input
          [(ngModel)]="customCard.weight"
          name="weight"
          matInput
          placeholder="50"
        />
        <mat-icon matSuffix>scale</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input
          [(ngModel)]="customCard.type"
          name="type"
          matInput
          placeholder="Ex. Lizard"
        />
        <mat-icon matSuffix
          ><span class="material-symbols-outlined"> pets </span></mat-icon
        >
      </mat-form-field>
      <app-energy-chooser
        mode="single"
        (selectedSingleEnergy)="onSelectedSingleEnergy($event)"
        chooserLabel="Energy Type"
      ></app-energy-chooser>

      <!-- <mat-form-field appearance="outline">
        <mat-label>Energy Type</mat-label>
        <input
          [(ngModel)]="customCard.energy_type"
          name="energy_type"
          matInput
          placeholder="Ex. Fire"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field> -->

      <p>
        Rarity:
        <mat-button-toggle-group
          [(ngModel)]="customCard.rarity"
          name="rarity"
          aria-label="Rarity"
        >
          <mat-button-toggle value="Common">Common</mat-button-toggle>
          <mat-button-toggle value="Uncommon">Uncommon</mat-button-toggle>
          <mat-button-toggle value="Rare">Rare</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
    </div>

    <h2>Attack list</h2>
    <div class="input-group">
      <div *ngFor="let attack of customCard.attack_list; let i = index">
        <app-energy-chooser
          mode="multi"
          (selectedMultipleEnergy)="onAddAttackCost($event, i)"
          (deleteEnergy)="onRemoveAttackCost($event, i)"
          listLabel="Cost"
        ></app-energy-chooser>

        <mat-form-field appearance="outline">
          <mat-label>Attack name</mat-label>
          <input
            [(ngModel)]="attack.name"
            name="attackName{{ i }}"
            matInput
            placeholder="Ex. Fireball"
          />
          <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Text</mat-label>
          <input
            [(ngModel)]="attack.text"
            name="attackText{{ i }}"
            matInput
            placeholder="Describe attack"
          />
          <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Damage</mat-label>
          <input
            [(ngModel)]="attack.damage"
            name="attackDamage{{ i }}"
            matInput
            placeholder="Ex. 10"
          />
          <mat-icon matSuffix
            ><span class="material-symbols-outlined">
              sports_martial_arts
            </span></mat-icon
          >
        </mat-form-field>

        <!-- <button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button> -->
      </div>
    </div>

    <h2>Other info</h2>
    <div class="input-group">
      <mat-form-field appearance="outline">
        <mat-label>Level</mat-label>
        <input
          [(ngModel)]="customCard.level"
          name="level"
          matInput
          placeholder="Ex. 90"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <app-energy-chooser
        mode="multi"
        listLabel="Weakness"
        (selectedMultipleEnergy)="onAddWeakness($event)"
        (deleteEnergy)="onRemoveWeakness($event)"
      ></app-energy-chooser>

      <app-energy-chooser
        mode="multi"
        (selectedMultipleEnergy)="onAddResistance($event)"
        (deleteEnergy)="onRemoveResistance($event)"
        listLabel="Resistance"
      ></app-energy-chooser>

      <app-energy-chooser
        mode="multi"
        (selectedMultipleEnergy)="onAddRetreatCost($event)"
        (deleteEnergy)="onRemoveRetreatCost($event)"
        listLabel="Retreat Cost"
      ></app-energy-chooser>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          [(ngModel)]="customCard.description"
          name="Description"
          matInput
          placeholder="Ex. Descrive the pokemon"
        />
        <mat-icon matSuffix
          ><span class="material-symbols-outlined">
            drive_file_rename_outline
          </span></mat-icon
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <input
          [(ngModel)]="customCard.artist"
          name="artist"
          matInput
          placeholder="Ex. Arita"
        />
        <mat-icon matSuffix
          ><span class="material-symbols-outlined"> brush </span></mat-icon
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Card number</mat-label>
        <input
          [(ngModel)]="customCard.number"
          name="number"
          matInput
          placeholder="Ex. 46/102"
        />
        <mat-icon matSuffix>confirmation_number</mat-icon>
      </mat-form-field>
    </div>
  </form>

  <div id="card-preview">
    <poke-card
      [pokemon]="customCard"
      mode="creation"
      [imagePreview]="imagePreview"
    ></poke-card>
    <button mat-raised-button color="primary" (click)="uploadCard()">
      Create card NFT
    </button>
  </div>
</mat-card>
