<app-header (menuClickEvent)="sidenav.toggle()"></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.toggle()">
      <mat-list-item routerLink="">
        <button mat-icon-button matListItemMeta>
          <mat-icon>home</mat-icon>
        </button>
        <a matListItemTitle>Home</a>
      </mat-list-item>
      <mat-list-item routerLink="/all-cards">
        <button mat-icon-button matListItemMeta>
          <mat-icon>style</mat-icon>
        </button>
        <a matListItemTitle>All cards</a>
      </mat-list-item>
      <mat-list-item routerLink="/create-nft">
        <button mat-icon-button matListItemMeta>
          <mat-icon>save_as</mat-icon>
        </button>
        <a matListItemTitle>Create NFT</a>
      </mat-list-item>
      <mat-list-item routerLink="/my-profile">
        <button mat-icon-button matListItemMeta>
          <mat-icon>person</mat-icon>
        </button>
        <a matListItemTitle>My profile</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner
  bdColor="#181B1D"
  template="<img src='../assets/image/loader/poke-loader.gif' />"
></ngx-spinner>
