<div id="container">
  <div class="info-container" *ngIf="wallet.cardDetail as card">
    <h2>
      Name: <strong>{{ card.name }}</strong>
    </h2>
    <h2>
      Price: <strong>{{ ethPrice }} ETH</strong> ≃
      <strong>{{ eurPrice | slice : 0 : 6 }} €</strong>
    </h2>
    <h2>
      Seller:
      <strong>
        {{ (card.seller | slice : 0 : 4) + "..." + (card.seller | slice : -4) }}
      </strong>
    </h2>

    <button
      *ngIf="
        card.seller!.toLowerCase() != wallet.walletAddress!.toLowerCase();
        else alreadyOwner
      "
      class="buy-button"
      mat-raised-button
      color="primary"
      (click)="buyCard()"
    >
      Buy
    </button>
    <ng-template #alreadyOwner
      ><h2>You are the owner of this card!</h2></ng-template
    >
  </div>

  <div id="card-preview">
    <poke-card
      [pokemon]="wallet.cardDetail"
      mode="display"
      class="card"
    ></poke-card>
  </div>
</div>
