<div class="info-container">
  <h2>
    Wallet: <strong>{{ wallet.walletAddress }}</strong>
  </h2>
  <h2>
    No. of NFT Cards: <strong>{{ wallet.myNfts.length }} Cards</strong>
  </h2>
  <h2>
    Total Value: <strong>{{ wallet.myNftsValue }} ETH</strong>
  </h2>
</div>

<div
  class="cards-main-container"
  *ngIf="wallet.walletAddress; else connectYourWallet"
>
  <ng-container *ngFor="let card of wallet.myNfts">
    <ng-container *ngIf="card.weight">
      <poke-card [pokemon]="card" mode="display"></poke-card>
    </ng-container>
  </ng-container>
</div>

<ng-template #connectYourWallet
  >Connect your wallet to see your cards</ng-template
>
