<div class="info-container">
  <h2>
    Wallet: <strong>{{ wallet.walletAddress }}</strong>
  </h2>
  <h2>
    No. of NFT Cards: <strong>{{ wallet.myNfts.length }} Cards</strong>
  </h2>
  <h2>
    Total Value: <strong>{{ wallet.myNftsValue }} ETH</strong>
  </h2>
</div>
<div class="refresh-button-container">
  <button
    mat-fab
    color="accent"
    aria-label="Example icon button with a bookmark icon"
    (click)="refreshMyNfts()"
  >
    <mat-icon> refresh</mat-icon>
  </button>
</div>

<div
  class="cards-main-container"
  *ngIf="wallet.walletAddress; else connectYourWallet"
>
  <ng-container *ngFor="let card of wallet.myNfts">
    <ng-container *ngIf="card.weight">
      <poke-card [pokemon]="card" mode="display" class="card"></poke-card>
    </ng-container>
  </ng-container>
</div>

<ng-template #connectYourWallet
  ><h2>Connect your wallet to see your cards</h2></ng-template
>
